#gallery {
    padding: 0px;
    padding-bottom: 25px;
    background-color: #f9f9f9;
    /* Light background for contrast */
}

.section-header h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    /* Darker text color */
}

.section-header p {
    text-align: center;
    color: #666;
    /* Subtle text color */
}

.gallery-carousel {
    margin-top: 30px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    /* Ensures images don't overflow */
}

.gallery-item img {
    aspect-ratio: 13/15;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
    margin-left: 5px;
    border-radius: 2px;
}

.gallery-item:hover img {
    transform: scale(1.05);
    /* Slightly zoom on hover */
}

.slick-dots {
    bottom: -30px;
    /* Position dots below slider */
    text-align: center;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    background-color: #ddd;
    /* Default dot color */
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #f82249;
    /* Active dot color */
}

.slick-prev,
.slick-next {
    color: #f82249;
    /* Arrow color */
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.8);
    /* Light background for arrows */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #f82249;
    /* Arrow hover effect */
    color: white;
    /* White arrow color on hover */
}

@media screen and (max-width: 768px) {

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .section-header h2 {
        font-size: 1.5em;
    }
}

.vbtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.vbtn button{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #040404;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
    cursor: pointer;
}

.vbtn button:hover {
    background: #f82249;
    color: #fff;
  }